{% macro depends(methods) %}
    {% for method in methods %}
        <a href="#{{ method }}">{{ method }}</a>{% if not loop.last %},{% endif %}
    {% else %}
        &minus;
    {% endfor %}
{% endmacro %}