{% macro depends(methods) %}
    {% for method in methods %}
        <a href="#{{ method }}">{{ method }}</a>{% if not loop.last %},{% endif %}
    {% else %}
        &minus;
    {% endfor %}
{% endmacro %}

{% macro breadcrumb(class) %}
    {% for element in explode('\\', class) %}
        {% if loop.last %}
            <li class="active">{{ element }}</li>
        {% else %}
            <li><a href="javascript:">{{ element }}</a> <span class="divider">/</span></li>
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro test_style(test) %}
    {% spaceless %}
        {% if test.isSuccess() %}
            success
        {% elseif test.isFailed() or test.hasError() %}
            error
        {% elseif test.isIncomplete() %}
            info
        {% else %}
            warning
        {% endif %}
    {% endspaceless %}
{% endmacro %}