<phpunit bootstrap="vendor/autoload.php" colors="true" convertErrorsToExceptions="true"
         convertNoticesToExceptions="true" convertWarningsToExceptions="true">
    <testsuites>
        <testsuite name="Unteist">
            <directory phpVersion="5.4.0" phpVersionOperator=">=">tests</directory>
        </testsuite>
    </testsuites>
</phpunit>